@import "../../../App";

button.didyoufind-feedback-btn {
  @extend .u-els-anchorize;
  @extend .c-els-link;
  @extend .c-els-link--with-icon;

  margin-left: 16px;
  background: none!important;
  border: none;
  padding: 0!important;
  font-family: $els-font-base;
  font-size: $els-fs-base;
  color: $els-color-secondary-on-dark;
  cursor: pointer;

  &:hover {
    color: $els-color-primary-on-dark;
  }

  &:focus {
    outline: none;
  }

  svg {
    @extend .c-els-link__icon;
    @extend .o-els-icon-svg;
    @extend .o-els-icon-svg--2x;
    @extend .o-els-icon-svg--middle;
  }

  span {
    @extend .c-els-link__text;
    color: $els-color-secondary-on-dark;
  }
}