@use "../../../App";

.didYouFindNo {
  button.didyoufind-feedback-btn {
    margin-left: 16px;
    background: none!important;
    border: none;
    padding: 0!important;
    font-family: App.$els-font-base;
    font-size: App.$els-fs-base;
    color: App.$link-color;
    cursor: pointer;

    &:hover {
      color: App.$link-hover-color;

      span {
        color: App.$link-hover-color;
      }
    }

    &:focus {
      outline: none;
    }

    span {
      color: App.$link-color;
    }
  }

  &.dark {
    button.didyoufind-feedback-btn {
      color: App.$link-color-dark;
      span {
        color: App.$link-color-dark;
      }

      &:hover {
        color: App.$link-hover-color-dark;
        span {
          color: App.$link-hover-color-dark;
        }
      }
    }
  }
}