@import "../../../App";

.didYouFindNo {
  button.didyoufind-feedback-btn {
    margin-left: 16px;
    background: none!important;
    border: none;
    padding: 0!important;
    font-family: $els-font-base;
    font-size: $els-fs-base;
    color: $link-color;
    cursor: pointer;

    &:hover {
      color: $link-hover-color;
    }

    &:focus {
      outline: none;
    }

    span {
      color: $link-color;
    }
  }

  &.dark {
    button.didyoufind-feedback-btn {
      color: $link-color-dark;
      span {
        color: $link-color-dark;
      }

      &:hover {
        color: $link-hover-color-dark;
        span {
          color: $link-hover-color-dark;
        }
      }
    }
  }
}