@use "../../App";

.didyoufind {
  font-family: App.$pss-fs-base;
  font-size: App.$pss-fs-base;
  color: App.$message-color;
  height: 26px;

  .didyoufind-form {
    color: App.$link-color;
    display: inline-block;
    padding-left: 16px;

    span.didyoufind-label {
      font-size: 16px !important;
    }

    &:hover {
      color: App.$link-hover-color;

      .didyoufind-label-switch {
        border: .125rem solid App.$link-hover-color !important;
      }
    }
  }

  &.dark {
    color: App.$message-color-dark;

    .didyoufind-form {
      color: App.$link-color-dark;

      &:hover {
        color: App.$link-hover-color-dark;

        .didyoufind-label-switch {
          border: .125rem solid App.$link-hover-color-dark !important;
        }
      }
    }
  }
}
