@import "../../App";

.didyoufind {
  font-family: $els-font-base;
  font-size: $els-fs-base;
  color: $message-color;
  height: 26px;

  .didyoufind-form {
    color: $link-color;
    display: inline-block;
    padding-left: 16px;

    span.didyoufind-label {
      font-size: 16px !important;
    }

    &:hover {
      color: $link-hover-color;

      .didyoufind-label-switch {
        border: .125rem solid $link-hover-color !important;
      }
    }
  }

  &.dark {
    color: $message-color-dark;

    .didyoufind-form {
      color: $link-color-dark;

      &:hover {
        color: $link-hover-color-dark;

        .didyoufind-label-switch {
          border: .125rem solid $link-hover-color-dark !important;
        }
      }
    }
  }
}
