@use "../../../variables";
@use "node_modules/@els/els-styleguide-core/scss/tools";

.didyoufind-modal {
  width: 700px;
  max-width: 700px;
  min-width: 700px;
  position: fixed;
  left: 400px;
  background-color: variables.$modal-background;
  border: 20px solid variables.$modal-border;
  background-clip:padding-box;
  z-index: 1;

  button.didyoufind-modal-close-icon {
    color: variables.$link-color;
    float: right;
    padding: 6px 0 8px 0px;
    border-bottom: 2px solid transparent;

    &:hover {
      color: variables.$link-hover-color;
      border-color: variables.$link-hover-color;

      svg {
        color: variables.$link-hover-color;
      }
    }
  }

  .thanksForRespondingModal {
    font-family: tools.$els-font-base;
    font-size: tools.$els-fs-h2;
    color: variables.$modal-header-text;
    padding: 10px 16px 10px 10px;
  }

  .didyoufind-modal-button-container {
    padding: 16px;
    height: 72px;

    .overTheCharacterLimit {
      color: variables.$modal-over-limit-text;
      display: inline-block;
    }

    .didYouFindModalCloseBtn {
      float: right;
      color: variables.$link-color;
      background: none!important;
      border: none;
      margin-right: 16px;
      padding: 2px;
      margin-top: 3px;

      &:hover {
        color: variables.$link-hover-color;
      }

      span.didYouFindModalCloseBtn-label {
        color: variables.$link-color;
      }
    }

    .didYouFindModalSubmitBtn {
      float: right;

      &:disabled {
        color: variables.$submit-button-disabled-color;
        background-color: variables.$submit-button-disabled-background;
        border-color: variables.$submit-button-disabled-border;
      }
    }
  }

  .tellUsMoreLabel {
    font-weight: normal;
    color: variables.$modal-header-text;
    background-color: variables.$modal-background;
    padding: 10px 16px;
  }

  .tellUsMoreTextAreaContainer {
    padding-right: 16px;
    padding-left: 16px;
    position: relative;
    width: 100%;
    height: 125px;

    .tellUsMoreTextArea, .tellUsMoreTextAreaReadOnly {
      background-color: variables.$modal-input-background;
      border-bottom-color: variables.$modal-input-border;
      position: absolute;
      height: 125px;
      max-height: 125px;
      min-height: 125px;
      width: 95%;
      overflow: auto;
      padding-top: 8px !important;
      padding-bottom: 8px !important;

      &:focus {
        outline: none;
      }
    }

    .tellUsMoreTextArea {
      color: transparent;
      background: transparent;
      caret-color: variables.$modal-input-color;
    }

    .tellUsMoreTextAreaReadOnly {
      z-index: -99;
      color: variables.$modal-input-color;
      padding-top: 8px;
      padding-bottom: 8px;
    }

    span.highlight {
      color: variables.$modal-input-highlight;
    }

  }

  &.dark {
    background-color: variables.$modal-background-dark;
    border: 20px solid variables.$modal-border-dark;

    button.didyoufind-modal-close-icon {
      color: variables.$link-color-dark;

      &:hover {
        color: variables.$link-hover-color-dark;
        border-color: variables.$link-hover-color-dark;

        svg {
          color: variables.$link-hover-color-dark;
        }
      }
    }

    .thanksForRespondingModal {
      color: variables.$modal-header-text-dark;
    }

    .didyoufind-modal-button-container {

      .overTheCharacterLimit {
        color: variables.$modal-over-limit-text-dark;
      }

      .didYouFindModalCloseBtn {
        color: variables.$link-color-dark;
        span.didYouFindModalCloseBtn-label {
          color: variables.$link-color-dark;
        }

        &:hover {
          color: variables.$link-hover-color-dark;
          span.didYouFindModalCloseBtn-label {
            color: variables.$link-hover-color-dark;
          }
        }
      }

      .didYouFindModalSubmitBtn {
        &:disabled {
          color: variables.$submit-button-disabled-color;
          background-color: variables.$submit-button-disabled-background;
          border-color: variables.$submit-button-disabled-border;
        }
      }
    }

    .tellUsMoreLabel {
      color: variables.$modal-header-text-dark;
      background-color: variables.$modal-background-dark;
    }

    .tellUsMoreTextAreaContainer {
      .tellUsMoreTextArea, .tellUsMoreTextAreaReadOnly {
        background-color: variables.$modal-input-background-dark;
        border-bottom-color: variables.$modal-input-border-dark;
      }

      .tellUsMoreTextArea {
        color: transparent;
        background: transparent;
        caret-color: variables.$modal-input-color-dark;
      }

      .tellUsMoreTextAreaReadOnly {
        color: variables.$modal-input-color-dark;
      }

      span.highlight {
        color: variables.$modal-input-highlight-dark;
      }
    }
  }
}
