@import "../../../App";

.didyoufind-modal {
  width: 700px;
  max-width: 700px;
  min-width: 700px;
  position: fixed;
  left: 400px;
  background-color: $els-color-n9;
  border: 20px solid rgba(80, 80, 80, .5);
  background-clip:padding-box;
  z-index: 1;

  button.didyoufind-modal-close-icon {
    @extend .u-els-anchorize;
    @extend .c-els-link;
    @extend .c-els-link--with-icon;

    color: $els-color-secondary-on-dark;
    font-family: $els-font-base;
    font-size: $els-fs-base;
    float: right;
    padding: 6px 0 8px 0px;
    border-bottom: 2px solid transparent;

    &:hover {
      color: $els-color-primary-on-dark;
      border-color: $els-color-primary-on-dark;

      svg {
        color: $els-color-primary-on-dark;
      }
    }

    svg {
      @extend .c-els-link__icon;
      @extend .o-els-icon-svg;
      @extend .o-els-icon-svg--1x;
      @extend .o-els-icon-svg--middle;
    }
  }

  .thanksForRespondingModal {
    font-family: $els-font-base;
    font-size: $els-fs-h2;
    color: $els-color-n1;
    padding: 10px 16px 10px 10px;
  }

  .didyoufind-modal-button-container {
    padding: 16px;
    height: 72px;

    .overTheCharacterLimit {
      color: $els-color-extended-orange-4;
      display: inline-block;
    }

    .didYouFindModalCloseBtn {
      @extend .u-els-anchorize;
      @extend .c-els-link;
      @extend .c-els-link--with-icon;

      font-family: $els-font-base;
      font-size: $els-fs-base;
      float: right;
      color: $els-color-secondary-on-dark;
      background: none!important;
      border: none;
      margin-right: 16px;
      padding: 2px;
      margin-top: 3px;

      &:hover {
        color: $els-color-primary-on-dark;
      }

      span.didYouFindModalCloseBtn-label {
        @extend .c-els-link__text;
        color: $els-color-secondary-on-dark;
      }
    }

    .didYouFindModalSubmitBtn {
      @extend .c-els-button;
      @extend .c-els-button--info;

      font-size: $els-fs-base;
      float: right;

      &:disabled {
        color: $els-color-n1;
        background-color: $els-color-n7;
        border-color: $els-color-n7;
      }

      span.didYouFindModalSubmitBtn-label {
        @extend .c-els-link__text;
      }
    }
  }
}

.tellUsMoreLabel {
  font-family: $els-font-base;
  font-weight: normal;
  color: $els-color-n0;
  background-color: $els-color-n9;
  padding: 10px 16px;
}

.tellUsMoreTextAreaContainer {
  @extend .c-els-field;

  padding-right: 16px;
  padding-left: 16px;
  position: relative;
  width: 100%;
  height: 125px;

  .tellUsMoreTextAreaLabel {
    @extend .c-els-field__label;
  }

  .tellUsMoreTextArea, .tellUsMoreTextAreaReadOnly {
    @extend .c-els-field__input;
    background-color: $els-color-n0;
    font-family: $els-font-base;
    font-size: $els-fs-base;
    border-bottom-color: $els-color-n10;
    position: absolute;
    height: 125px;
    max-height: 125px;
    min-height: 125px;
    width: 95%;
    overflow: auto;

    &:focus {
      outline: none;
    }
  }

  .tellUsMoreTextArea {
    color: transparent;
    background: transparent;
    caret-color: $els-color-n10;
  }

  .tellUsMoreTextAreaReadOnly {
    z-index: -99;
    color: $els-color-n10;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  span.highlight {
    color: red;
  }

}

