$path-to-els-core-logos: '~@els/els-component-footer-react/module/assets/images/';
$path-to-els-core-fonts: '~@els/els-styleguide-core/fonts';

@import '~@els/els-styleguide-core/scss/settings/colors';
@import '~@els/els-styleguide-core/scss/settings/typography';
@import '~@pss/pss-styleguide-dark/src/colors';

// font sizing with rem doesn't play nice with bootstrap. Overriding the font size variables.
$els-fs-base: 16px;
$els-fs-h2:   30px;

$message-color: $els-color-extended-orange-5;
$message-color-dark: $els-color-n0;

$link-color: $els-color-secondary-on-dark;
$link-color-dark: $els-color-extended-blue-2;

$link-hover-color: $els-color-primary;
$link-hover-color-dark: $pss-color-primary;

$modal-background: $els-color-n9;
$modal-background-dark: $els-color-n10;

$modal-border: rgba($els-color-n9, .5);
$modal-border-dark: rgba($pss-color-n12, .5);

$modal-header-text: $els-color-n1;
$modal-header-text-dark: $els-color-n0;

$modal-over-limit-text: $els-color-extended-orange-4;
$modal-over-limit-text-dark: $els-color-extended-orange-5;

$modal-input-highlight: red;
$modal-input-highlight-dark: $pss-color-warn;

$modal-input-color: $els-color-n10;
$modal-input-color-dark: $els-color-n0;


$modal-input-background: $els-color-n0;
$modal-input-background-dark: $els-color-n8;

$modal-input-border: $els-color-n10;
$modal-input-border-dark: $pss-color-primary;

$submit-button-color: $els-color-n10;
$submit-button-color-dark: $els-color-n0;
$submit-button-background-dark: $els-color-n10;
$submit-button-border-dark: $els-color-n0;

$submit-button-disabled-color: $els-color-n1;
$submit-button-disabled-background: $els-color-n7;
$submit-button-disabled-border: $els-color-n7;

$submit-button-disabled-color-dark: $els-color-n3;
$submit-button-disabled-background-dark: $els-color-n10;
$submit-button-disabled-border-dark: $els-color-n3;
