.didyoufind {
    font-family: Nexus Sans Pro;
    font-size: 16pt;
    margin-left: 30px;
    color: #FACF6E;
}

.didyoufind-label {
    color: #44C6F4;
    margin-left: 20px;
}

.didyoufind-element {
    margin-left: 5px;
    margin-right: 5px;
}

.didyoufind-feedback-btn {
    background: none!important;
    border: none;
    padding: 0!important;
    font-family: "Nexus Sans Pro";
    font-size: 16pt;
    color: #44C6F4;
    cursor: pointer;
}


.didyoufind-modal {
    width: 700px;
    max-width: 700px;
    min-width: 700px;
    height: 500px;
    max-height: 500px;
    min-height: 500px;
    position: fixed;
    left: 400px;
    background-color: #505050;
    border: 20px solid rgba(80, 80, 80, .5);
    background-clip:padding-box;
    z-index: 1;
}

.thanksForRespondingModal {
    font-family: "Nexus Sans Pro";
    font-size: 30pt;
    font-weight: normal;
    color: #EEEEEE;
    padding: 10px;
}

.tellUsMoreLabel {
    font-family: "Nexus Sans Pro";
    font-size: 16pt;
    font-weight: normal;
    color: #EEEEEE;
    padding: 10px;
}

.tellUsMoreTextArea {
    width: 640px;
    min-width: 640px;
    max-width: 640px;
    height: 250px;
    max-height: 250px;
    min-height: 250px;
    background-color: #F5F5F5;
    color: #494949;
    font-family: "Nexus Sans Pro";
    font-size: 16pt;
    font-weight: normal;
}

.didYouFindModalCloseBtn {
    color: #44C6F4;
    font-family: "Nexus Sans Pro";
    padding: 10px;
    position: absolute;
    right: 120px;
    background: none!important;
    border: none;
}

.didYouFindModalCloseBtn:hover {
    color: #FF8200;
}

.didYouFindModalSubmitBtn {
    background-color: #009ECE;
    color: #FFFFFF;
    position: absolute;
    right: 20px;
    padding: 10px;
    font-family: "Nexus Sans Pro";
}

.didYouFindModalSubmitBtn:hover {
   color: #E9711C;
}

.didYouFindModalSubmitBtn:disabled {
    color: rgba(255, 255, 255, .4);
    background-color: #505050;;
}
